.timeline {
  color: grey;
  position: relative;
  padding: 80px;
}

.timeline::before {
  content: "";
  left: 20px;
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: grey;
}

.yearContainer {
  font-size: large;
  font-weight: bold;
  border-bottom: 0.5cm solid darkblue;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-left: 80px;
  margin-bottom: 40px;
}
