.timeline {
  color: grey;
  position: relative;
  padding: 40px;
  max-width: 900px;
  margin: auto;
  margin-top: 0;
  padding-top: 10px;
}

.timeline::before {
  content: "";
  left: 10px;
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: darkblue;
}

.yearContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.yearHeader {
  font-size: 22px;
  font-weight: bold;
  color: black;
  white-space: nowrap;
}

.stickyHeader {
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
  text-align: center;
  color: white;
  padding: 10px 0px;
  font-size: 22px;
  font-weight: bold;
  z-index: 50;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
}
